:root {
  --color-primario: #ff5733;
  --color-cuarto: #2e86de;
  --color-texto: #121212;
  --color-fondo: #f1f1f1;
  --color-secundario: #f5cc0e;
  --color-azul: #3300cc;
  --color-rojo:#ff0000;
  --color-verde: #00913d;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  /* background-image: url('/src/assets/img/bkg_scissorsBIG_.png'); */
  background-image: url('/src/assets/img/bkg_sky2.png');
  background-repeat: repeat revert;
  background-size: cover;
  background-position: center;
}

.casita-logo {
  width: 10em;
  height: auto;
}
.casita-logo-text {
  width: 10em;
  height: auto;
}
.casita-logo-navbar {
  width: 4em;
  height: auto;
}
.img-logo-nav {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

.img-tools {
  width: 50%;
  border-radius: 50px;
  margin-top: 2em;
  opacity: 0.75;
}
.games-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 1rem; */
}

.game-image {
  width: 400px;
  /* height: 100%; */
  border-radius: 1rem;
}
.card-image {
  width: 100%;
  /* height: 100%; */
  border-radius: 1rem;
}

.game-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.game-card {
  padding: 1em;
}

.ojito-galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  /* background-color: #2e86de; */
  opacity: 0.85;
}

.casita-logo-navbar:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.casita-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.casita-logo-text:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.content {
  /* margin: 3rem; */
  padding: 0 1rem;
  height: 100vh;
}
/* .content-short {
  margin: 3rem;
  padding: 0 1rem;
  height: 100vh;
} */
nav {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--color-fondo); */
  /* color: white; */
  padding: 1rem 4rem;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  color: white;
  list-style: none;
  gap: 1.5rem;
}

.nav-logos {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.hamburger {
  display: none;
  /* font-size: 2rem; */
  background: none;
  border: none;
  color: var(--color-secundario);
}

h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: var(--color-secundario);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primario);
}

.footer {
  /* color: white; */
  padding: 3rem;
  /* text-align: center; */
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos {
  color: var(--color-secundario);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.5rem;
  list-style: none;
  padding: 0;
}

.logos-contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.juegos, .noticias, .about {
  /* background-color: rgba(171, 26, 255, 0.193); */
  /* width: 80%; */
  /* margin: auto; */
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: .5rem; */
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 1rem;
}

.contact-layout {
  width: 80%;
  margin: auto;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: .5rem; */
  padding: 0 1rem;
}

.games-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .content {
    margin: 0;
    height: 100vh;
  }
  nav {
    flex-direction: column;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0;
    /* align-items: center; */
  }
  .navbar ul {
    display: none;
    padding: 1.2rem 0;
    margin: 0;
    flex-direction: column;
    gap: 1rem; 
    align-items: center;
    /* position: absolute; */
    top: 100px;
    left: 0;
    width: 100%;
  }
  .nav-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
  .nav-links.open {
    display: flex;
  }
  .hamburger {
    display: block;
  }
  h1 {
    font-size: 2rem;
  }
  /* .logos {
    display: flex;
    flex-direction: column;

  } */
  .footer {
    font-size: 1rem;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    /* margin-top: 6em; */
  }
  .content-short{
    margin: 0;
    padding: 0;
  }
  .game-card {
    padding: 1em 0;
  }
  .img-tools {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 20px;
  }
  .game-image {
    width: 80%;
    /* height: 100%; */
    /* border-radius: 1rem; */
  }
  .games-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 1rem; */
    padding: 0 1em;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: 2px solid var(--color-secundario);
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: transparent;
}

button:hover {
  border-color: var(--color-primario);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (min-width: 1024px) {
  nav {
    padding: 1rem 12rem;
  }
  /* .contact-layout{
    min-height: 100vh;
  } */
  .footer {
    /* margin-top: 3em; */
    padding: 3rem 12rem;
  }
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */